  
  <h2>MadLibs Exercise</h2>

  <body ng-app="MadLibs">
    <div ng-controller="inputController">
      <input type="text" ng-model="nounName" placeholder="Enter a name">
      <input type="text" ng-model="verbActivity" placeholder="Enter an verb (activity)">
      <input type="text" ng-model="nounPlace" placeholder="Enter a noun (place)">
      <input type="text" ng-model="nounName" placeholder="Enter an name">
      <input type="text" ng-model="nounThing" placeholder="Enter a noun (thing)">
      <input type="text" ng-model="nounName" placeholder="Enter the same name">
      <input type="text" ng-model="nounNewname" placeholder="Enter a new name">
      
      <button type = "button" ng-click="getInfo()"> submit </button>
    </div>