  
    <div class="container2">
      <input class="input1" type="text" ng-model="nounName" placeholder="Enter a name"><br>
      <input class="input1" type="text" ng-model="verbActivity" placeholder="Enter an verb (activity)"><br>
      <input class="input1" type="text" ng-model="nounPlace" placeholder="Enter a noun (place)"><br>
      <input class="input1" type="text" ng-model="nounName" placeholder="Enter an name"><br>
      <input class="input1" type="text" ng-model="nounThing" placeholder="Enter a noun (thing)"><br>
      <input class="input1" type="text" ng-model="nounName" placeholder="Enter the same name"><br>
      <input class="input1" type="text" ng-model="nounNewName" placeholder="Enter a new name"><br>
      
      <!-- <button type = "button" ng-click="save()"> submit </button> -->
      
      <a href= "#/display" ng-click="save()"><button> submit </button></a>
  </div>